<p id="notice"><%= notice %></p>

<h1>Physicians</h1>

<%= render 'form', physician: @physician %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Speciality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="physicians">
    <%# HACK: Linea 18 es equivalente a linea 20, pero linea 18 es el camino corto%>
    <%= render @physicians %>
    <%# HACK: El de abajo es equivalente a la linea 18, pero es el camino largo %>
    <%# @physicians.each do |physician| %>
      <%#= render partial: "physician", locals: {physician: physician} %>
    <%# end %>
  </tbody>
</table>

<br>

<%= link_to 'New Physician', new_physician_path %>
