<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Boss Id</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id%></td>
        <td><%= employee.email%></td>
        <td><%= employee.boss_id%></td>
      </tr>
    <% end %>
  <tbody>
</table>
